
.current{
  color: white;
  background-color: green;
}


.HeaderTextClass{
  color: black;
  padding: 8px 16px;
  width: 60px;
  margin-left: 0px;
  text-decoration: none;
}


.navigationHeader {
  position:fixed;
	left:0;
	top:0;
  background-color: #dddddd;
  width: 100%;
  color: black;
  text-decoration: none;
}
