---
---
@import "main";

li {
  float: left;
  list-style-type: none;
}

li a {
  display: block;
  padding: 8px;
}

a{
  text-decoration: none;
  color:inherit;
}

a.blue{
  color: blue;
}

html {
  height: 100%;
}

body{
  padding-top: 25px;
  height: 100%;
  display: flex;
}

autoCenter{
  text-align: center;
}

h2.contact {
  text-align: inherit;
  margin: inherit;
  font-size: 26px;
  font-size: 2em;
}

p.contact {
    font-size: 16px;
    font-size: 1em;
}
