---
---
@import "main";

li {
  float: left;
  list-style-type: none;
}

li a {
  display: block;
  padding: 8px;
}

a{
  text-decoration: none;
  color:inherit;
}

html {
  height: 100%;
}

body{
  padding-top: 25px;
  height: 100%;
  display: flex;
}

h1 {
  margin: inherit;
}
